@import "./var.scss";
@import './mixin.scss';

html {
  color: $words;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}
